body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0094ff;
  color: #fff;
  font-family: sans-serif;
  overflow-x: hidden;
  perspective: 1000px;
}

.title {
  text-align: center;
  border-block: 1px dashed #fff;
  background-color: #3daaf8;
  margin-top: 0;
  padding-block: 10px;
}

.main {
  width: 70%;
  min-width: 300px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: #3daaf8;
  border-radius: 10px;
  margin-inline: auto;
  border: 1px dashed #fff;
  font-size: calc(1vmin + 8px);
}

.main__content-container.reversed-digit-recall-game,
.main__content-container.super-recall-culus-game {
  display: none;
}

.main__subtitle {
  text-align: center;
  margin-top: 20px;
  background-color: #0094ff;
  border-radius: 10px 10px 0 0;
  border: 1px dashed #fff;
}

.main__content-container,
.main__record-container {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  border: 1px dashed #fff;
}

.main__setting,
.main__record {
  background-color: #0094ff;
  padding: 5px;
  border-radius: 0 0 10px 10px;

  border: 1px dashed #fff;
}

.main__setting--d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.main__record-container {
  text-align: center;
}

.main__info-number-container,
.main__matrix-size-container,
.main__time-hint-container,
.main__operation,
.main__calculation-btns {
  background-color: #0094ff;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border: 1px dashed #fff;
}

.main__info-number-container--d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.main__attempt-counter,
.main__figure-counter,
.main__time {
  padding: 5px;
  border-radius: 50%;
  background-color: #2d0691;
}

.main__setting--d-flex {
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
}

.main__random-number-container {
  height: auto;
  padding: 10px 5px;
  background-color: #0094ff;
  border: 1px dashed #fff;
  border-radius: 0 0 10px 10px;
  text-align: center;
}

.main__random-number-container--d-flex-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main__record {
  padding: 5px 0;
  height: auto;
}

.main__record--d-flex {
  display: flex;
  justify-content: space-evenly;
}

.main__random-digit {
  background-color: #3daaf8;
  border-radius: 50%;
  padding: 5px 9px;
  margin: 2px;
}

.main__random-digit.reversed {
  padding: 30px 45px;
  font-size: 3rem;
}

.main__matrix--d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main__table {
  border-collapse: collapse;
}

.main td {
  border: 1px dashed #2d0691;
  color: #2d0691;
  padding: 2.5vmin 3vmin;
  font-size: 12px;
  cursor: pointer;
  transition: 0.5s all;
}

.main td:hover {
  background-color: #2d0691;
  color: #fff;
}

td.white-text {
  color: #fff;
  font-weight: 900;
}

.main__matrix-size-container--d-flex,
.main__time-hint-container--d-flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.main__calculation--d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__calculation {
  background-color: #0094ff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__calculation-container {
  width: 50%;
}

.main__calculation-btns {
  margin-top: 10px;
  padding-block: 10px;
}

.main__calculation-btns--d-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__operation--d-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.main__operation-value, .main__operation-symbol{
  padding: 5px;
  background-color: #2d0691;
  border-radius: 50%;
  color: #fff;
}

.main__operation-symbol{
  border-radius: 0%;
}
